body {
    background: #c8e6c9;
    color: #333;
    width: 100%;
    font-family: sans-serif;
    margin:0 auto;
}

.header {
    width:90%;
    margin:auto;
    height:120px;
    background: #ffccdd;
    line-height:120px;
    color:#fff;
}


.jarak {
    padding: 0 20pc;
}

.menu {
    background: #b5d6b2;
    height:50px;
    line-height:580px;
    position:relative;
    width:90%;
    padding: 0 auto;
    margin: 0 auto;
}

.menu ul {
    list-style: none;
}

.menu ul li a {
    float:left;
    width:78px;
    display:block;
    text-align:center;
    color:#fff;
    text-decoration:none;
}

.menu ul li a:hover {
    background-color:#4b88bb;
    display:block;
}

.content {
    width:90%;
    margin:auto;
    height:428px;
    padding:0.1px;
    background:#fff;
    color:333;
}

.kiri {
    width: 65%;
    float:left;
    margin:auto;
    background: #fff;
    height: 428px;
}

.kanan {
    width: 35%;
    float:left;
    margin:auoto;
    background: #fff;
    height: 428px;
}

.border {
    border: 2px solid #999;
    margin-top:1pc;
    padding-bottom: 1pc;
    padding-left:2pc;
    padding-right:2pc;
}

.undecor {
    text-decoration: none;
}

.footer {
    width:90%;
    margin:auto;
    height:48px;
    line-height:48px;
    background:#417aa8;
    color:#fff;
    margin-bottom:1pc;
}
