.header {
  background-color: pink;
  padding: 1em;
  text-align: center;
}

.nav {
  background-color: green;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
}

.left-column {
  flex: 70%;
  border: 1px solid #ccc;
  padding: 10px;
}

.right-column {
  flex: 30%;
  padding: 10px;
}

.footer {
  background-color: green;
  padding: 10px;
  text-align: center;
}